* {
    margin: 0;
    list-style: none;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 50px;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header span {
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    box-sizing: border-box;
}

header span.active {
    border-bottom: 3px blue solid;
}