* {
    margin: 0;
    list-style: none;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header span {
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    box-sizing: border-box;
}

header span.active {
    border-bottom: 3px blue solid;
}

section {
    flex: 1;
    width: 100%;
    display: flex;
}

section>div {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    display: none;
}

section>div.active {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section>div>div {
    width: 80%;
    height: 100px;
}

section>div:first-child>div {
    background: red;
}

section>div:nth-child(2)>div {
    background: blue;
}

section>div:nth-child(3)>div {
    background: pink;
}